.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card {
    width: 20%; 
    text-align: center;
    background-color: rgb(170, 211, 221);
    font-weight: 600;
    border-radius: 25px;
    padding: 1%;
    margin: 1%;
    
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 6px -2px #000;
}

.followers-cards {
    display: flex;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-photo {
    height: 400px;
    width: auto;
}
.user-link {
    text-decoration: none;
    color: blue;
    font-weight: 800;
}